/*

Publisher
    |-> Pure Style
        |-> Magazine Demo

*** TABLE OF CONTENTS:
    =>General Styles
    =>Headers
    =>Section and Widget
    =>Blocks
    =>Post Templates
    =>Footer
    =>Archive Title
    =>Gallery Slider
    =>bbPress
    =>WooCommerce
    =>Visual Composer
    =>Attachment
*/
/**
 * =>General style
 **/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

body.active-top-line {
  border-top-width: 4px; }

body.boxed .bs-sks {
  top: -4px; }

.term-badges.floated {
  left: 0; }

.rtl .term-badges.floated {
  right: 0;
  left: auto; }

/**
 * =>Headers
 **/
.site-header.full-width .main-menu-wrapper,
.site-header.boxed .main-menu-wrapper .main-menu-container {
  border-bottom-width: 1px; }

ul.menu > li .sub-menu, .menu .mega-menu {
  top: 102%;
  top: calc(100% + 1px); }

.main-menu > li > a {
  padding: 0 9px; }

.rtl .main-menu.menu > li .sub-menu,
.rtl .menu .mega-menu {
  text-align: right; }

.site-header.header-style-3 .header-inner {
  padding: 22px 0; }

.site-header.header-style-1 .main-menu.menu,
.site-header.header-style-2 .main-menu.menu {
  margin-bottom: -1px; }

.header-style-1.site-header.boxed .menu-action-buttons,
.header-style-2.site-header.boxed .menu-action-buttons {
  bottom: 0; }

/**
 * =>Blocks
 **/
.listing-item-tb-2 .term-badges.floated .term-badge a {
  font-size: 83%; }

.bs-slider-2-item .content-container,
.bs-slider-3-item .content-container {
  background: rgba(255, 255, 255, 0.93); }

.better-social-counter.style-modern .social-item {
  border-bottom-color: #f1f1f1; }

.bs-popular-categories .bs-popular-terms-list {
  padding: 0; }

.widget.widget_bs-subscribe-newsletter {
  background: transparent;
  padding: 0 !important; }

/**
 * =>Footer
 **/
.site-footer .footer-social-icons,
.site-footer .copy-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15); }

.footer-instagram-3 .simply-scroll-list li {
  padding: 8px;
  background: #fff;
  border: 1px solid #dedede; }

/**
 * =>Archive Title
 **/
.archive-title .pre-title:after {
  top: 0;
  height: 4px; }
