/*

ThemeName
    |-> Style Default
        |-> Video Demo

*** TABLE OF CONTENTS:
    =>General Styles
    =>Headers
    =>Section and Widget
    =>Blocks
    =>Archive Title
    =>WooCommerce
    =>Ajax Search
*/
@import "../_demo-helper/general";
//
$header: 'style-5';
$header_height: 64px;
@import "../_demo-helper/helper";

/**
 * =>General
 **/
.term-badges.text-badges a {
  font-weight: bolder;
  font-size: 120%;
}

/**
 * =>Headers
 **/
.site-header .site-branding .logo a {
  color: #fff;
}

.site-header.header-style-5 .main-menu.menu > li:hover > a:before,
.site-header.header-style-5 .main-menu.menu > li.current-menu-parent > a:before,
.site-header.header-style-5 .main-menu.menu > li.current-menu-item > a:before {
  height: 100%;
  height: calc(100% + 1px);
  bottom: initial;
  top: 0;
  z-index: -1;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .4s ease;
  border-radius: 0;
}

.site-header.header-style-5 .main-menu.menu > li > a {
  z-index: 1;
}

.main-menu.menu > li:hover > a {
  color: #fff;
}

.site-header.header-style-5 .main-menu.menu > li.menu-item-has-children > a:after,
.site-header.header-style-6 .main-menu.menu > li.menu-item-has-children > a:after,
.site-header.header-style-8 .main-menu.menu > li.menu-item-has-children > a:after {
  color: rgba(255, 255, 255, 0.39);
}

.main-menu.menu > li .sub-menu,
.menu .mega-menu {
  background-color: #383838;
}

ul.sub-menu.bs-pretty-tabs-elements .mega-menu.mega-type-link-list .mega-links > li .sub-menu,
ul.sub-menu.bs-pretty-tabs-elements .mega-menu.mega-type-link .mega-links .sub-menu,
ul.sub-menu.bs-pretty-tabs-elements .mega-menu.mega-type-link .mega-links .sub-menu,
ul.sub-menu.bs-pretty-tabs-elements .mega-menu {
  background-color: #313131;
}

ul.sub-menu.bs-pretty-tabs-elements .tabbed-grid-posts .tabs-section .active a {
  border-color: transparent !important;
}

.tabbed-grid-posts:before {
  background-color: #313131;
  border-right-color: #272727;
}

.rtl .tabbed-grid-posts:before {
  border-right-color: transparent;
  border-left-color: #272727;
}

.tabbed-grid-posts .tabs-section .active a {
  border-color: #272727;
  background: #383838;
}

ul.sub-menu.bs-pretty-tabs-elements .mega-menu.mega-type-link-list .mega-links > li > a,
ul.sub-menu.bs-pretty-tabs-elements .mega-menu.mega-type-link .mega-links > li > a,
.main-menu.menu .sub-menu > li > a,
.main-menu.menu .sub-menu > li {
  color: #fff;
}

.tabbed-grid-posts .tabs-section a,
.main-menu.menu .sub-menu > li > a:hover {
  color: #fff !important;
}

.site-header .listing-item-grid-1 .title a {
  color: #fff;
}

.mega-menu.mega-type-link .mega-links > li > a {
  color: #ffffff;
}

.mega-menu.mega-type-link .mega-links > li > a {
  color: #ffffff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.site-header .search-container .search-box .search-form .search-field {
  color: #fff;
}

/**
 * =>Blocks
 **/
.section-heading.sh-t3.sh-s1:after {
  bottom: -1px;
  height: 5px;
}

.listing-item-tb-2 .term-badges.floated {
  left: 0;
  bottom: 0;
  top: initial;
}

.listing-item-tb-2 .term-badges.floated a {
  margin-bottom: 0;
  margin-top: 3px;
}

.rtl .listing-item-tb-2 .term-badges.floated {
  right: 0;
  left: auto;
}

.listing-item-tb-2 .post-edit-link {
  bottom: initial;
  left: 0;
  top: 0;
}

.rtl .listing-item-tb-2 .post-edit-link {
  right: 0;
  left: auto;
}

.widget.widget_bs-subscribe-newsletter {
  background: #f9f9f9;
  border: 1px solid #e8e8e8;
}

/**
 * =>Archive Title
 **/
.archive-title .pre-title:after,
.archive-title .pre-title span {
  background-color: #2d2d2d;
}

.archive-title .pre-title:after {
  height: 6px;
  margin-top: -3px;
}

/**
 * =>WooCommerce
 **/
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
  background: #f5f5f5;
  border-radius: 0;
  border: 1px solid #eee;
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
  border-bottom: 1px solid #e2e2e2;
}

.woocommerce-checkout-review-order-wrap {
  margin-top: 30px;
}

.site-header .shop-cart-container .cart-box {
  background: #383838;
  color: #b3b3b3;
}

.site-header .shop-cart-container .cart-box a {
  color: #fff;
}

.woocommerce .site-header .shop-cart-container .cart-box a.button {
  color: #fff !important;
  background-color: #656565 !important;
}

/**
 * =>Ajax Search
 **/
.search-preview {
  border: 1px solid #232323;
  background: #2b2b2b;
  color: #ffffff;
}

.search-preview .listing-item-tb-1 .title {
  color: #fff;
}

.ajax-taxonomy-list {
  background-color: #313131;
  border-left-color: #272727;
}

.rtl .ajax-taxonomy-list {
  border-right-color: #272727;
}

.search-preview .clean-title > span {
  color: #fff;
}

.search-preview .clean-title::after {
  background: #232323;
}

.search-preview .clean-button,
.search-preview .clean-button-light {
  background: #2f2f2f;
  border-color: #232323;
  color: #cacaca;
}

.search-preview .clean-button:hover,
.search-preview .clean-button-light:hover {
  color: inherit;
}

/**
 * =>Inline Related Posts
 **/
.bs-irp {
  padding: 14px 18px 18px;
}
