/*

ThemeName
    |-> Style Fashion Demo

*** TABLE OF CONTENTS:
    =>General
    =>Header
    =>Section Heading, Widget
    =>Footer
    =>Archive Title
    =>Listings
    =>WooCommerce
*/

/**
 * =>General
 **/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

ul.menu li > a i,
.single-post-title i,
.bs-slider-item .title i,
.listing-item .title i,
ul.menu li > a em,
.single-post-title em,
.bs-slider-item .title em,
.listing-item .title em {
  font-style: italic;
  font-weight: 400;
}

ul.menu li > a i.bf-icon {
  font-style: inherit;
}

ul.menu li > a b,
.single-post-title b,
.bs-slider-item .title b,
.listing-item .title b,
ul.menu li > a strong,
.single-post-title strong,
.bs-slider-item .title strong,
.listing-item .title strong {
  font-style: italic;
  font-weight: 900;
}

/**
 * =>Header
 **/
.topbar .topbar-date.topbar-date {
  background-color: transparent !important;
}

.tabbed-grid-posts .tabs-section a .fa {
  font-style: normal;
}

.site-header.header-style-1 .main-menu.menu,
.site-header.header-style-2 .main-menu.menu {
  margin-bottom: -1px;
}

.main-menu.menu > li:hover > a:before,
.main-menu.menu > li.current-menu-parent > a:before,
.main-menu.menu > li.current-menu-item > a:before {
  bottom: -1px !important;
  height: 2px;
}

.site-header.header-style-7 .ajax-search-results:after,
.site-header.header-style-7 .shop-cart-container .cart-box:after,
.site-header.header-style-7 .main-menu.menu > li:hover > a:before,
.site-header.header-style-7 .main-menu.menu > li.current-menu-parent > a:before,
.site-header.header-style-7 .main-menu.menu > li.current-menu-item > a:before,
.site-header.header-style-4 .ajax-search-results:after,
.site-header.header-style-4 .shop-cart-container .cart-box:after,
.site-header.header-style-4 .main-menu.menu > li:hover > a:before,
.site-header.header-style-4 .main-menu.menu > li.current-menu-parent > a:before,
.site-header.header-style-4 .main-menu.menu > li.current-menu-item > a:before {
  bottom: 0 !important;
}

.site-header.header-style-3 .ajax-search-results:after,
.site-header.header-style-3 .shop-cart-container .cart-box:after,
.site-header.header-style-3 .main-menu.menu > li:hover > a:before,
.site-header.header-style-3 .main-menu.menu > li.current-menu-parent > a:before,
.site-header.header-style-3 .main-menu.menu > li.current-menu-item > a:before {
  bottom: -1px !important;
}

.site-header.header-style-4 .main-menu-wrapper.pinned .main-menu.menu > li:hover > a:before,
.site-header.header-style-4 .main-menu-wrapper.pinned .main-menu.menu > li.current-menu-parent > a:before,
.site-header.header-style-4 .main-menu-wrapper.pinned .main-menu.menu > li.current-menu-item > a:before {
  bottom: 0 !important;
}

.site-header.header-style-7,
.site-header.header-style-4,
.site-header.header-style-3 {
  border-bottom: 1px solid #dedede;
}

ul.menu > li .sub-menu, .menu .mega-menu {
  top: 102%;
  top: calc(100% + 1px);
}

.site-header.header-style-8.boxed .header-inner,
.site-header.header-style-8.full-width,
.site-header.boxed.header-style-7 .main-menu-wrapper .main-menu-container,
.site-header.full-width.header-style-7 .main-menu-wrapper,
.site-header.header-style-6.boxed .header-inner,
.site-header.header-style-6.full-width,
.site-header.header-style-5.boxed .header-inner,
.site-header.header-style-5.full-width,
.site-header.boxed.header-style-4 .main-menu-wrapper .main-menu-container,
.site-header.full-width.header-style-4 .main-menu-wrapper,
.site-header.boxed.header-style-3 .main-menu-wrapper .main-menu-container,
.site-header.full-width.header-style-3 .main-menu-wrapper {
  border-bottom-color: #dedede;
}

.site-header.full-width .main-menu-wrapper,
.site-header.boxed .main-menu-wrapper .main-menu-container {
  border-bottom-width: 1px;
}

.site-header .search-container .search-handler {
  margin-top: -14px;
}

.site-header.header-style-8 .search-container .search-handler,
.site-header.header-style-5 .search-container .search-handler {
  margin-top: -13px;
}

.header-style-1.site-header.boxed .menu-action-buttons,
.header-style-2.site-header.boxed .menu-action-buttons {
  bottom: 0;
}

.site-header.header-style-2 .shop-cart-container .cart-box:after,
.site-header.header-style-1 .shop-cart-container .cart-box:after,
.site-header.header-style-7 .shop-cart-container .cart-box:after,
.site-header.header-style-4 .shop-cart-container .cart-box:after {
  height: 2px;
  top: -2px;
}

/**
 * =>Section Heading, Widget
 **/
.section-heading.sh-t2.sh-s2 .h-text {
  line-height: 32px;
}

.btn-bs-pagination {
  line-height: 22px !important;
  min-width: 26px;
  font-family: 'Open Sans' !important;
}

/**
 * =>Footer
 **/
.site-footer .copy-footer {
  background-color: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}

/**
 * =>Archive Title
 **/
.archive-title .pre-title span {
  margin-left: 20px;
}

.rtl .archive-title .pre-title span {
  margin-right: 20px;
  margin-left: auto;
}

.archive-title .pre-title {
  margin-left: -20px;
  margin-right: -20px;
}

.archive-title {
  border-bottom: 1px solid #F0F0F0;
  background: #f5f5f5;
  padding: 0 20px 13px;
}

.archive-title .pre-title:after {
  top: 0;
  height: 4px;
}

/**
 * =>Listings
 **/
.better-studio-shortcode,
.bsac {
  margin-bottom: 40px;
}

.listing-mix-6 .listing-item-text {
  margin-bottom: 18px;
}

.bs-slider-2-item .content-container,
.bs-slider-3-item .content-container {
  background: rgba(255, 255, 255, 0.85);
}

/**
 * =>WooCommerce
 **/
.woocommerce-checkout-review-order-wrap {
  margin-top: 30px;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
  background: #f5f5f5;
  border-radius: 0;
  border: 1px solid #eee;
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
  border-bottom: 1px solid #e2e2e2;
}

.woocommerce-account .addresses .title .edit, .woocommerce-account ul.digital-downloads li .count {
  margin-top: 10px;
  font-size: 14px;
}