/*

ThemeName
    |-> Style Default
        |-> Blog Demo

*** TABLE OF CONTENTS:
    =>General Styles
    =>Headers
    =>Menu and Mega Menu
    =>Widgets
    =>Sliders
    =>Boxes
    =>VC Customizations
    =>Single Post
    =>Archive Title
    =>Section Heading
    =>WooCommerce
*/

/**
 * =>General Styles
 **/
.entry-terms.entry-terms .terms-label {
  border-color: transparent !important;
}

.post-related + .comments-template {
  margin-top: 30px;
}

.post-related {
  padding: 0;
  border: none;
}

.post-related .section-heading {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}

.post-related .listing-item-grid-1 .title {
  font-size: 16px;
}

.single-container > .post-author {
  margin: 20px 0 0;
}

.next-prev-post {
  border-top: 1px solid #ebebeb;
}

.bs-slider-2-item .content-container a.read-more,
.bs-slider-3-item .content-container a.read-more {
  background-color: transparent !important;
}

.section-heading.sh-t1.sh-s2:after {
  opacity: .5;
  height: 3px;
  margin-top: -1.5px;
}

/**
 * =>Headers
 **/
.site-header.full-width .main-menu-wrapper,
.site-header.boxed .main-menu-wrapper .main-menu-container {
  border-bottom-width: 1px;
}

ul.menu > li .sub-menu, .menu .mega-menu {
  top: 102%;
  top: calc(100% + 1px);
}

.site-header.header-style-1 .main-menu.menu,
.site-header.header-style-2 .main-menu.menu {
  margin-bottom: -1px;
}

.site-header .topbar {
  -webkit-box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.13);
}

.site-header.full-width .topbar,
.site-header.boxed .topbar .topbar-inner {
  border: none;
}

.site-header.header-style-4 .main-menu.menu > li,
.main-menu > li {
  margin-right: -3px;
}

.rtl .site-header.header-style-4 .main-menu.menu > li,
.rtl .main-menu > li {
  margin-left: -3px;
  margin-right: auto;
}

.site-header.header-style-2 .main-menu.menu > li {
  margin: 0 -3px 0 0;
}

.rtl .site-header.header-style-2 .main-menu.menu > li {
  margin: 0 0 0 -3px;
}

.site-header.header-style-7 .header-inner {
  padding: 50px 0 25px;
}

.topbar .topbar-sign-in:before {
  background: rgba(255, 255, 255, 0.12);
}

.header-style-1.site-header.boxed .menu-action-buttons,
.header-style-2.site-header.boxed .menu-action-buttons {
  bottom: 0;
}

.site-header .shop-cart-container .cart-box:after {
  height: 2px;
  top: -2px;
}

.site-header.header-style-7 .shop-cart-container .cart-box:after,
.site-header.header-style-4 .shop-cart-container .cart-box:after,
.site-header.header-style-2 .shop-cart-container .cart-box:after,
.site-header.header-style-1 .shop-cart-container .cart-box:after {
  height: 3px;
  top: -3px;
}

.site-header.header-style-4 .ajax-search-results:after,
.site-header.header-style-4 .shop-cart-container .cart-box:after,
.site-header.header-style-4 .main-menu-wrapper.pinned .main-menu.menu > li:hover > a:before,
.site-header.header-style-4 .main-menu-wrapper.pinned .main-menu.menu > li.current-menu-parent > a:before,
.site-header.header-style-4 .main-menu-wrapper.pinned .main-menu.menu > li.current-menu-item > a:before {
  bottom: 0 !important;
}

.site-header.header-style-4.boxed .main-menu-wrapper.pinned .main-menu-container {
  height: 51px;
}

/**
 * =>Menu and Mega Menu
 **/
.main-menu > li > a {
  padding: 0 15px;
}

/**
 * =>Widgets
 **/
.widget {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.bs-about .about-title img {
  border-radius: 50%;
}

.widget.widget_bs-subscribe-newsletter {
  background: #f5f5f5;
}

.bs-popular-categories .bs-popular-terms-list {
  padding: 0;
}

.widget_better-ads {
  padding: 0;
  border: none;
}

/**
 * =>Sliders
 **/
.bs-slider-1-item .term-badges.floated .term-badge a {
  background: #212121 !important;
  color: #fff !important;
}

.bs-slider-3-item .content-container,
.bs-slider-2-item .content-container {
  box-shadow: none;
}

/**
 * =>Boxes
 **/
.bs-box-2 .box-title {
  box-shadow: none;
}

/**
 * =>Single Post
 **/
.comments-wrap,
.comment-respond,
.post-related,
.single-container > .post-author {
  padding: 20px;
  border: 1px solid #ebebeb;
}

/**
 * =>Archive Title
 **/
.archive-title {
  border: 1px solid #ebebeb;
  padding: 20px 20px 13px;
}

/**
 * =>Section Heading
 **/

/**
 * =>WooCommerce
 **/
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
  border-radius: 0;
}

.rtl.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
  text-align: right;
}

.site-header .shop-cart-container .cart-box:after {
  height: 2px;
  top: -2px;
}

