/*

ThemeName |-> Crytpto List

*/
@import "../_demo-helper/general";

// Header
$header: 'style-6';
$header_height: 86px;
$topbar_height: 28px;

// Block Layouts
$box: box;
$box_border: solid 1px #ebebeb;
$box_padding: 25px;
//
$blocks_items_bottom_margin: 15px;
$blocks_items_bottom_padding: 15px;
$blocks_items_bottom_line: solid 1px #f2f2f2;
$remove_box_of_content_page: false;

// Footer
$footer_style: center;
$about_us_text_align: left;
$about_us_social_icon_size: 34px;
$about_us_social_icon_font_size: 16px;

@import "../_demo-helper/helper";

/**
 * => Optimized Fonts
 **/
.post-meta,
.post-title,
a.read-more,
.post-summary,
.entry-content p,
.btn-bs-pagination,
.bs-listing .title,
.newsletter-subscribe,
.listing-item .title a,
.term-badges.floated a,
.bs-numbered-pagination,
.mega-links > .menu-item a,
ul.menu.footer-menu li > a,
.section-heading > .h-text,
.better-newsticker .heading,
.section-heading a > .h-text,
.off-canvas-menu > ul > li > a,
.post-count-badge.pcb-t1.pcb-s1,
.site-header .main-menu > li > a,
.better-newsticker ul.news-list li a,
.site-footer .bs-about .about-link a,
.term-badges .term-badge:first-child a,
.site-footer .copy-1, .site-footer .copy-2,
.bs-subscribe-newsletter .subscribe-message,
.widget_bs-subscribe-newsletter .bs-subscribe-newsletter:after,
.footer-widgets.light-text .widget.widget_nav_menu ul.menu li a {
  @include optimize_font;
}

/**
 * => General style
 **/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

/**
 * => Site Header
 **/
.site-header.header-style-6 {
  border-bottom: none !important;

  .off-canvas-menu-icon .off-canvas-menu-icon-el {
	width: 100%;
  }

  .menu-action-buttons.menu-action-buttons > div {
	line-height: 81px;
  }

  .search-container .search-handler {
	margin-top: -15px;
  }

  .main-menu.menu > {
	li {
	  & > a {
		padding: 0 20px;

		&:before {
		  height: 4px !important;
		  bottom: 0 !important;
		}

		.better-custom-badge {
		  top: 10px !important;
		  left: 19px;
		  height: 14px;
		  line-height: 14px;
		  padding: 0 4px;

		  &:after {
			display: none;
		  }
		}
	  }
	}
  }
}

/**
 * => Content Injection
 **/
.bs-injection.bs-injection-after_header {
  padding-top: 0 !important;
}

/**
 * => Breadcrumb
 **/
.bf-breadcrumb.bc-top-style {
  padding: 6px 0 7px;
  border-bottom: solid 1px #ebebeb;
  background: #eef9ff;
}

/**
 * => Section Heading
 **/
.section-heading.sh-t6.sh-s7 {
  &:before {
	-webkit-transform: skew(0deg);
	-moz-transform: skew(0deg);
	-o-transform: skew(0deg);
  }

  & > .main-link > .h-text:before,
  & > a:last-child:first-child > .h-text:before,
  & > .h-text:last-child:first-child:before {
	display: none;
  }

  & > .main-link > .h-text:after,
  & > a:last-child:first-child > .h-text:after,
  & > .h-text:last-child:first-child:after {
	-webkit-transform: skew(25deg);
	-moz-transform: skew(25deg);
	-o-transform: skew(25deg);
  }

  & > .h-text {
	padding: 0 32px 0 17px !important;
  }
}

.section-heading.sh-t5 {
  padding: 0 0 7px;

  &:before {
	height: 1px;
  }

  & > .main-link > .h-text:before,
  & > a:last-child:first-child > .h-text:before,
  & > .h-text:last-child:first-child:before {
	display: none;
  }
}

/**
 * => Financial Pack
 **/
.bs-injection .bsfp-widget {
  padding: 0 !important;
  border: none !important;
}

.fpc-wrapper-body.fpc-style-2 {
  border: none;
  padding: 0;
  margin: 0;
}

.sidebar,
.bs-vc-sidebar-column {
  .fpc-wrapper-body.fpc-style-2 {
	.fpc-field {
	  width: 100%;
	  margin-bottom: 8px;

	  &:last-child {
		margin-bottom: 0;
	  }

	  .fpc-select-field {
		.fpc-input {
		}
	  }
	}
  }
}

/**
 * => Grid 1
 **/
.bs-listing-listing-grid-1 {
  .listing-grid-1 {
	&.columns-4 {
	  .listing-item-grid {
		&:nth-last-child(1),
		&:nth-last-child(2),
		&:nth-last-child(3),
		&:nth-last-child(4) {
		  margin-bottom: 0;
		}
	  }
	}
  }
}

/**
 * => Thumbnail 2
 **/
.bs-listing-listing-thumbnail-2 {
  .listing-tb-2 {
	&.scolumns-2 {
	  .listing-item {
		&:nth-last-child(1),
		&:nth-last-child(2) {
		  border-bottom: none !important;
		  margin-bottom: 0 !important;
		}
	  }
	}
  }
}

/**
 * => Newsletter
 **/
.bs-newsletter-pack.bsnp-t1.bsnp-s3 {
  box-shadow: none !important;
}

/**
 * => Term Badge
 **/
.term-badges.floated {
  padding: 10px 0 0 10px;

  a {
	padding: 3px 5px 1px;
	line-height: 1;
  }
}

/**
 * => Pagination
 **/
.pagination.bs-numbered-pagination .page-numbers,
.pagination.bs-numbered-pagination span {
  min-width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
  color: rgba(0, 0, 0, 0.6);
}

/**
 * => Site Footer
 **/
.site-footer {
  .footer-widgets {
	padding-top: 35px;
	.section-heading.sh-t3:after {
	  background: rgba(255, 255, 255, 0.15);
	  height: 1px;
	}

	.listing-thumbnail.listing-thumbnail .listing-item-thumbnail {
	  border-bottom: none !important;
	  padding-bottom: 0 !important;
	  margin-bottom: 15px !important;
	}
  }

  .footer-menu-container {
	padding-top: 0;
  }

  .copy-footer {
	padding: 0 0 30px;

	.copy-1 + .copy-2 {
	  margin-top: 28px;
	}

	.container .menu li {
	  margin: 28px 17px !important;
	}
  }

  .bs-about {
	.about-icons-list {
	  .about-icon-item {
		a {
		  border-radius: 100%;
		  box-shadow: none !important;
		  background: none rgba(255, 255, 255, 0.08) !important;

		  &:hover {
			background: none rgba(255, 255, 255, 0.2) !important;
		  }
		}
	  }
	}
  }
}

/**
 * => Single
 **/
.post-template-1 .single-post-title {
  color: #000000;
}

/**
 * => RTL
 **/
.rtl {
  .section-heading.sh-t6.sh-s7 > .h-text {
	padding: 0 17px 0 32px !important;
  }

  .site-header.header-style-6 {
	.search-container .search-handler {
	  margin-top: -15px;
	}

	.main-menu.menu > li > a .better-custom-badge {
	  left: auto;
	}
  }

  .bs-fp-t15 .fp-arrow {
	left: 10px;
	right: auto;
  }

  .term-badges.floated {
	padding: 10px 10px 0 0;

	a {
	  padding: 3px 5px;
	}
  }

  .section-heading.sh-t6.sh-s7 {
	& > .main-link > .h-text:after,
	& > a:last-child:first-child > .h-text:after,
	& > .h-text:last-child:first-child:after {
	  -webkit-transform: skew(-25deg);
	  -moz-transform: skew(-25deg);
	  -o-transform: skew(-25deg);
	}
  }
}