/*

ThemeName |-> Designer Blog
*/
@import "../_demo-helper/general";

$term_badges: 'center-bottom';

@import "../_demo-helper/helper";

/**
 * =>General style
 **/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

/**
 * => Header
 **/
.site-header.full-width .main-menu-wrapper, .site-header.full-width .topbar {
  border: none;
}

.site-header.full-width .main-menu-wrapper {
  padding-top: 2px;
}

.main-menu > li > a {
  line-height: 46px;
}

.site-header.header-style-1 .main-menu.menu > li {
  margin: 0;
}

.main-menu > li > a {
  padding: 0 21px;
}

.main-menu.menu > li > a:before {
  height: 2px;
  bottom: 1px;
}

.mega-menu.mega-grid-posts .bs-pagination.bs-ajax-pagination {
  text-align: center;
}

/**
 * => Newsletter
 **/
.widget.widget_bs-subscribe-newsletter {
  padding: 19px 23px !important;
}

/**
 * => About US
 **/
.bs-about {
  .about-text {
    padding: 0 25px;
    line-height: 21px;
  }

  .about-text p {
    margin-bottom: 0;
  }

  .about-title {
    margin: 0 0 21px;
  }

  .about-link {
    font-family: inherit;
    text-transform: uppercase;
    margin-top: 6px;
  }

  .about-link a {
    font-size: 12px;
  }

  .about-icons-list .about-icon-item {
    margin: -3px 6px 5px;
  }

  .about-icons-list .about-icon-item a {
    border-radius: 100%;
    width: 32px;
    height: 32px;
  }

  .about-icons-list .about-icon-item a i {
    line-height: 34px;
  }

  .about-link a {
    border-bottom: dashed 1px;
  }
}

/**
 * => Widget Layouts
 **/
.widget {
  margin-bottom: 26px !important;
}

/**
 * => Section Heading
 **/
.section-heading .h-text {
  @include optimize_font;
}

.section-heading.sh-t3.sh-s4 {
  text-align: center;
}

.bs-pretty-tabs-initialized {
  text-align: inherit !important;
}

/**
 * => Section Heading
 **/
.listing-grid .listing-item.listing-item-grid-1 {
  text-align: center;
  margin-bottom: 35px;
}

.listing-grid .listing-item.listing-item-grid-1 .post-meta .comments {
  float: none;
}

.listing-grid .listing-item.listing-item-grid-1 .post-meta {
  border-bottom: solid 1px #f4ebf0;
  margin: 11px 0 16px;
  padding-bottom: 17px;
}

.listing-grid .listing-item.listing-item-grid-1 .post-summary {
  padding: 0 15px;
  border-bottom: none;
}

.listing-grid .listing-item.listing-item-grid-1 .featured {
  margin-bottom: 24px;
}

.section-heading.sh-t3.sh-s4 > .h-text.h-text.h-text {
  line-height: 28px;
}

.section-heading.sh-t3.sh-s4 {
  margin-bottom: 25px;
}

.widget.widget_bs-subscribe-newsletter {
  border: solid 1px #cef4f0;
}

/**
 * => listing Items
 **/
.listing-item .title, .entry-content p, .bs-about .about-link a {
  @include optimize_font;
}

/**
 * => Widget -> Popular Categories
 **/
.bs-popular-terms-list {
  padding: 0 !important;
}

/**
 * => Pagination
 **/
.pagination {
  margin-top: 13px;
}

.pagination.bs-links-pagination a {
  line-height: 38px;
  height: 38px;
  padding: 0 21px;
}

/**
 * => Footer
 **/
.footer-menu-container {
  border: none;
}

.site-footer .copy-footer {
  text-align: center;
  //background-position: bottom;
}

.footer-menu {
  @include optimize_font;
}

ul.menu.footer-menu > li {
  display: inline-block;
  float: none;
  margin: 0 23px;
}

.site-footer .copy-2, .site-footer .copy-1 {
  float: none;
  width: auto;
  display: inline-block;
  padding: 0;
  color: #8b8b8b !important;
  @include optimize_font;
}

.site-footer .copy-footer {
  padding: 22px 0 53px;
}

/**
 * => Archive
 **/

.archive-title .pre-title {
  display: none;
}

/**
 * => Single page
 **/
.top-share.style-1 .social-item a {
  background: #ffffff !important;
  border: solid 1px #e3e3e3;
}

.single-post-share.top-share.style-1 .social-item a {
  min-width: 32px;
}

.top-share.style-1 .social-item a:hover {
  background: #4d4d4d !important;
}

.top-share.style-1 .social-item a .bf-icon {
  color: #4d4d4d;
  font-size: 14px;
  transition: .4s;
}

.top-share.style-1 .social-item a:hover .bf-icon {
  color: #FFFFFF;
}
