/*

Publisher |-> Car News

*/
body.boxed .bs-vc-content > .vc_row > .bs-vc-wrapper,
body.boxed .content-wrap {
  padding-left: 10px;
  padding-right: 10px; }

body.boxed .bf-breadcrumb > .bf-breadcrumb-container {
  margin-left: 10px !important;
  margin-right: 10px !important; }

body.boxed .mega-menu .content-wrap {
  padding-left: 5px;
  padding-right: 5px; }

body.boxed .slider-container .content-wrap {
  padding-left: 0;
  padding-right: 0; }

body.boxed .bs-sks .bs-sksitemr {
  padding-left: 10px; }

body.boxed .bs-sks .bs-sksiteml {
  padding-right: 10px; }

@media (max-width: 980px) {
  body.boxed .bs-vc-content > .vc_row > .bs-vc-wrapper,
  body.boxed .content-wrap,
  body.boxed .mega-menu .content-wrap {
    padding-left: 0;
    padding-right: 0; }
  body.boxed .bf-breadcrumb > .bf-breadcrumb-container {
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-left: 0 !important;
    margin-right: 0 !important; } }

.post-template-1 .single-container > .post,
.post-template-10 .single-container > .post {
  border: none;
  padding: 0; }

.vc_row[data-vc-full-width="true"] .bs-vc-block,
.vc_row[data-vc-full-width="true"] .entry-content .better-studio-shortcode,
.vc_row[data-vc-full-width="true"] .bs-shortcode,
.vc_row[data-vc-full-width="true"] .bs-listing {
  background: transparent;
  padding: 0; }

.listing-item-blog,
.listing-thumbnail.listing-thumbnail .listing-item-thumbnail {
  border-bottom: solid 1px rgba(0, 0, 0, 0.06) !important;
  padding-bottom: 15px !important;
  margin-bottom: 15px !important; }

.listing-item-blog:last-child,
.listing-thumbnail .listing-item-thumbnail:last-child {
  border-bottom: none !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important; }

.listing-thumbnail .listing-item-thumbnail:last-child {
  margin-bottom: 22px !important; }

.sidebar-column .listing-item-tb-1,
.bs-vc-sidebar-column .listing-item-tb-1 {
  padding-bottom: 10.5px !important;
  margin-bottom: 10.5px !important; }

.sidebar-column .listing-item-tb-1:last-child,
.bs-vc-sidebar-column .listing-item-tb-1:last-child {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important; }

.topbar {
  height: 30px !important; }
  .topbar .topbar-inner {
    padding: 0 !important; }
  .topbar.topbar-style-1 .section-menu {
    height: 30px !important;
    position: relative; }
  .topbar .better-social-counter .social-list {
    line-height: 27px !important;
    height: 30px !important; }
  .topbar .topbar-sign-in.topbar-sign-in.topbar-sign-in {
    height: 30px;
    line-height: 30px !important; }
  .topbar ul.menu.top-menu li.menu-item-has-children > a:after,
  .topbar .top-menu > li {
    line-height: 30px !important; }
  .topbar .topbar-date {
    height: 30px;
    line-height: 26px !important;
    top: 0; }

.site-header.site-header.header-style-2 .main-menu.menu > li > a:before,
.site-header.site-header.header-style-2 .main-menu.menu > li:hover > a:before,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-item > a:before,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-parent > a:before {
  display: none; }

.site-header.site-header.header-style-2 .main-menu.menu > li:hover > a,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-parent > a,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-item > a {
  background-color: rgba(255, 255, 255, 0.18) !important; }

.site-header.site-header.header-style-2 .main-menu > li > a {
  padding: 0 16px;
  z-index: 0; }

.site-header.site-header.header-style-2 .main-menu.menu > li:hover > a,
body .site-header.site-header.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-parent > a,
body .site-header.site-header.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-parent:hover > a,
body .site-header.site-header .main-menu.menu > li.current-menu-parent > a {
  color: #ffffff !important; }

.site-header.header-style-2 .main-menu-wrapper .main-menu-inner {
  height: 48px !important; }

.site-header.header-style-2.header-style-2 .main-menu > li > a {
  line-height: 48px; }

.site-header.header-style-2 .search-container .search-box .search-form .search-field {
  height: 48px; }

.site-header.header-style-2 .main-menu.menu {
  height: 71px; }

.site-header.header-style-2 .off-canvas-menu-icon-container {
  line-height: 48px; }

.site-header.header-style-2.site-header .shop-cart-container .cart-handler
.site-header.header-style-2 .search-container .search-handler {
  line-height: 28px; }

.site-header.header-style-2.header-style-2 .main-menu > li > a {
  line-height: 48px; }

.site-header.boxed .main-menu-wrapper .main-menu-container,
.site-header.full-width .main-menu-wrapper {
  border-width: 0 !important; }

.site-header.header-style-2 .off-canvas-menu-icon-container {
  line-height: 45px; }

.ltr .bs-shortcode.bs-about > * {
  text-align: left; }

.rtl .bs-shortcode.bs-about > * {
  text-align: right; }

.bs-about .about-icons-list .about-icon-item a {
  width: 40px;
  height: 40px; }

.bs-about .about-icons-list .about-icon-item.about-icon-item a i {
  line-height: 40px; }

.site-footer .copy-footer .container .menu {
  text-align: center; }

.site-footer .copy-footer .container .menu li {
  float: none;
  display: inline-block;
  margin: 10px 14px !important; }

.site-footer .footer-menu-container {
  padding: 10px 0 0;
  margin-bottom: 0; }

.site-footer .copy-footer {
  text-align: center;
  padding-bottom: 40px; }

.site-footer .copy-2,
.site-footer .copy-1 {
  display: inline-block;
  width: auto;
  text-align: center;
  padding: 0 !important;
  float: none; }

.site-footer .copy-1 + .copy-2 {
  margin-top: 15px; }

@media only screen and (max-width: 678px) {
  .site-footer .copy-footer .container .menu li {
    margin: 5px 14px !important; }
  .site-footer .copy-1 + .copy-2 {
    margin-top: 0; } }

/**
 * => Optimized Fonts
 **/
.bs-about,
.post-meta,
.post-title,
a.read-more,
.post-summary,
.entry-content p,
.btn-bs-pagination,
.bs-listing .title,
.newsletter-subscribe,
.listing-item .title a,
.term-badges.floated a,
.bs-numbered-pagination,
.mega-links > .menu-item a,
ul.menu.footer-menu li > a,
.section-heading > .h-text,
.better-newsticker .heading,
.section-heading a > .h-text,
.off-canvas-menu > ul > li > a,
.post-count-badge.pcb-t1.pcb-s1,
.site-header .main-menu > li > a,
.site-header .topbar .topbar-inner,
.better-newsticker ul.news-list li a,
.site-footer .bs-about .about-link a,
.term-badges .term-badge:first-child a,
.site-footer .copy-1, .site-footer .copy-2,
.bs-subscribe-newsletter .subscribe-message,
.widget_bs-subscribe-newsletter .bs-subscribe-newsletter:after,
.footer-widgets.light-text .widget.widget_nav_menu ul.menu li a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * => General style
 **/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

body.boxed .main-wrap {
  box-shadow: none !important; }

.layout-1-col, .layout-2-col, .layout-3-col {
  margin-top: 0 !important;
  padding-top: 20px; }

/**
 * => Header
 **/
.site-header.header-style-2 .main-menu.menu > li {
  margin: 0; }
  .site-header.header-style-2 .main-menu.menu > li a {
    padding: 0 20px; }

.site-header.header-style-2 .search-handler {
  line-height: 26px; }

.site-header.header-style-2.full-width .menu.main-menu-wrapper .container,
.site-header.header-style-2.full-width .menu.main-menu-wrapper .content-wrap {
  padding-left: 0; }

.site-header.header-style-2 .off-canvas-menu-icon-container {
  margin: 0; }
  .site-header.header-style-2 .off-canvas-menu-icon-container .off-canvas-menu-icon-el {
    width: 100%; }

/**
 * => Section Heading
 **/
.section-heading.sh-t4.sh-s4:after {
  height: 100%;
  top: 0;
  background: none;
  background-color: rgba(0, 0, 0, 0.07); }

.section-heading.sh-t4.sh-s4 .other-link.other-link .h-text {
  margin-top: 0 !important;
  background-color: transparent !important; }

.section-heading.sh-t4.sh-s4 .h-text {
  line-height: 30px; }
  .section-heading.sh-t4.sh-s4 .h-text:after {
    width: 20px;
    right: -18px;
    transform: skew(29deg); }

/**
 * => Slider 1
 **/
.bs-listing-slider-1 .bs-slider-item.bs-slider-1-item .content-container {
  padding: 0 0 30px; }
  .bs-listing-slider-1 .bs-slider-item.bs-slider-1-item .content-container .title {
    text-align: inherit !important;
    max-width: 100%; }
  .bs-listing-slider-1 .bs-slider-item.bs-slider-1-item .content-container .post-meta {
    text-align: inherit !important; }

.bs-listing-slider-1 .bs-slider-item.bs-slider-1-item .term-badges.floated {
  top: 0;
  text-align: left;
  padding: 0 30px; }

.bs-listing-slider-1 .better-control-nav li a {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1); }

.bs-listing-slider-1 .better-next,
.bs-listing-slider-1 .better-prev {
  opacity: 0 !important; }

.bs-listing-slider-1:hover .better-next,
.bs-listing-slider-1:hover .better-prev {
  opacity: 1 !important; }

/**
 * => Custom Navigation
 **/
.widget.widget_nav_menu.widget.widget_nav_menu ul.menu li {
  margin-bottom: 0; }
  .widget.widget_nav_menu.widget.widget_nav_menu ul.menu li a {
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: 400;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    color: #080808; }
    .widget.widget_nav_menu.widget.widget_nav_menu ul.menu li a .bf-icon {
      position: relative;
      top: -2px; }
    .widget.widget_nav_menu.widget.widget_nav_menu ul.menu li a:hover {
      background-color: transparent !important;
      color: #000000 !important;
      border-bottom: solid 1px rgba(0, 0, 0, 0.1) !important; }
  .widget.widget_nav_menu.widget.widget_nav_menu ul.menu li:last-child a {
    border-bottom: none !important; }

/**
 * => Blog 1
 **/
.listing-blog-1 .listing-item-blog-1 .term-badges.floated {
  padding: 0 10px; }

/**
 * => Widget Custom Image Banner
 **/
.ult-banner-block img {
  padding: 15px 10px !important;
  border: solid 1px #f0f0f0 !important; }

.ult-banner-block .bb-top-title {
  padding: .7em 0; }

/**
 * => Thumbnail 1
 **/
.listing-thumbnail.listing-thumbnail .listing-item-thumbnail {
  padding-bottom: 12px !important;
  margin-bottom: 12px !important; }

/**
 * => Pagination
 **/
.bs-pagination.bs-ajax-pagination.more_btn.bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination {
  width: 100%;
  background-color: #ebebeb !important;
  border: none !important;
  color: #4a4a4a !important;
  line-height: 38px !important;
  font-size: 12px !important; }
  .bs-pagination.bs-ajax-pagination.more_btn.bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination:hover {
    color: #4a4a4a !important;
    background-color: #cbcbcb !important; }

/**
 * => About Us
 **/
.bs-about .about-title {
  margin: 0 0 25px; }

.bs-about .about-icons-list {
  margin-top: 27px; }
  .bs-about .about-icons-list .about-icon-item a {
    border-radius: 100%; }

/**
 * => Footer Options
 **/
.site-footer .footer-widgets {
  padding: 48px 0 10px; }
  .site-footer .footer-widgets .title {
    opacity: .7; }

.site-footer .about-icon-item a {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5) !important;
  box-shadow: none !important; }
  .site-footer .about-icon-item a:hover {
    background: none !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: rgba(255, 255, 255, 0.7) !important; }

.site-footer .section-heading.sh-t1.sh-s5:after {
  background-color: rgba(255, 255, 255, 0.2) !important; }

.site-footer .section-heading.sh-t1.sh-s5 > .h-text:after {
  display: none !important; }

.site-footer .listing-thumbnail.listing-thumbnail .listing-item-thumbnail {
  border: none;
  margin-bottom: 20px !important;
  padding-bottom: 0 !important; }

.site-footer .copy-footer {
  padding-bottom: 30px; }
  .site-footer .copy-footer .container .menu li {
    margin: 0 14px !important; }

.site-footer .footer-menu-container {
  padding: 0;
  margin-bottom: 0; }

.site-footer .copy-1 + .copy-2 {
  margin-top: 30px; }

.footer-widgets.light-text .widget.widget_categories .post-count,
.footer-widgets.light-text .post-meta .post-author,
.footer-widgets.light-text .widget a {
  z-index: 1; }

/**
 * => Single
 **/
.post-template-1 .single-post-title {
  color: #000000; }

/**
 * => RTL
 **/
.rtl .site-header.header-style-2 .off-canvas-menu-icon-container {
  line-height: 51px; }

.rtl .site-header.header-style-2.full-width .menu.main-menu-wrapper .container,
.rtl .site-header.header-style-2.full-width .menu.main-menu-wrapper .content-wrap {
  padding-left: 0;
  padding-right: 0; }

.rtl .section-heading.sh-t4.sh-s4 .h-text:after {
  right: auto;
  left: -18px;
  transform: skew(-29deg); }

/**
 * => Persian Language
 **/
html[lang=fa-IR] .site-header.header-style-2 .off-canvas-menu-icon-container {
  line-height: 47px; }

html[lang=fa-IR] .bs-listing-slider-1 .bs-slider-item.bs-slider-1-item .content-container .title {
  text-align: right !important; }

html[lang=fa-IR] .bs-listing-slider-1 .bs-slider-item.bs-slider-1-item .content-container .post-meta {
  text-align: right !important; }
