/*

ThemeName |-> Bold Mag

*/
@import "../_demo-helper/general";

// Header Style
$topbar_height: 32px;
$header: 'style-8';
$header_height: 88px;
// Term Badge
$term_badges: 'bottom-left';
// Other Widget
$about_us_text_align: 'left';
$newsletter_border_radius_inputs: 0;

@import "../_demo-helper/helper";

/**
 * => Optimized Fonts
 **/
.bs-about,
.post-meta,
.post-title,
a.read-more,
.post-summary,
.entry-content p,
.bs-listing .title,
.listing-item .title a,
.term-badges.floated a,
.bs-numbered-pagination,
ul.menu.footer-menu li > a,
.section-heading > .h-text,
.bf-breadcrumb.bc-top-style,
.section-heading a > .h-text,
.off-canvas-menu > ul > li > a,
.site-header .main-menu > li > a,
.better-newsticker ul.news-list li,
.site-header .topbar .topbar-inner,
.better-social-counter.style-style-8,
.term-badges .term-badge:first-child a,
.site-footer .copy-1, .site-footer .copy-2,
.bs-subscribe-newsletter .subscribe-message,
.widget.widget_bs-subscribe-newsletter .newsletter-subscribe,
.section-heading.sh-t3 .main-link:first-child:last-child .h-text {
  @include optimize_font;
}

/**
 * => General style
 **/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.layout-1-col,
.layout-2-col,
.layout-3-col {
  margin-top: 20px !important;
}

/**
 * => All Blocks
 **/
.post-meta .post-author {
  max-width: 130px;
}

.listing-modern-grid-4 {
  .post-meta a {
	font-size: inherit !important;
  }
}

.listing-mg-3-item .post-meta .comments, .listing-mg-3-item .post-meta .post-author {
  font-size: inherit;
}

/**
 * => Header Style
 **/
.site-header.header-style-8 {
  .topbar-sign-in.behind-social {

  }

  .site-branding {
	width: 22%;
  }

  .main-menu-container {
	width: 78%;
  }

  .main-menu-container.menu-actions-btn-width-2 {
	padding-left: 43px;
  }

  .main-menu.menu > li {
	margin: 0 36px 0 0;
  }
}

.off-canvas-menu-icon .off-canvas-menu-icon-el {
  width: 100%;
}

/**
 * => Newsticker
 **/
.better-newsticker {
  .heading {
	width: 135px;
	height: 36px;
	line-height: 38px;
	font-size: 12px;
	color: #131313;
	font-weight: bold !important;
	border-radius: 0;
	font-family: inherit !important;
	padding-left: 11px;
	letter-spacing: 0.5px;
  }

  .heading:after {
	border-top: 50px solid transparent;
	border-left: 26px solid transparent;
	border-bottom: 0 solid transparent;
	right: -26px;
	top: 0;
	margin-top: 0;
  }

  .heading:before {
	content: '\f105';
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	right: 8px;
	top: 11px;
	font-size: 15px;
	font-weight: bold;
  }

  .control-nav span:hover {
	color: #1f1f1f;
  }

  &:before {
	content: '';
	position: absolute;
	left: 14px;
	top: 10px;
	font-size: 15px;
	z-index: 1;
	width: 13px;
	height: 15px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAYAAAA/I0V3AAABN0lEQVQokX3SP0iWURQG8N/7fp+EF//k90o0KYZFW1OFg4iDiEO0BxKNooOLONTQ0tTS1BJB4Kw5OAjS4NAWUQ4t4iIOooNLw4d/wOE7wuWlr7Pcc57zPIfn3HuLqqp0iQILOMRW3mj+R/AZ8+ivN8ssb+Fx5Mt4hStcdBP1YAO9GMTbwG/hRTfRKqYwimcYyDgfcC/ySTSbGMPrAJ/jtDa4hXU8iaEjjZTSCqaD8DAs3on6KtzcxTGeYqKRUvqI4SAVmeAdLjNrtzGLVOJ+fVG8xxvsZthEuGgVVVW1dW7pJnYwF9aG8Cfs3cRRid8ZcInFEMAZlmoufpT4kgHb2K+R1vErq9dKfML3AE7+sR8cxPkNX4v4sEPY1HmHBzivifYCm8FZI6UEbazhLx7hZyYYRx9eRt81SDEzvVI5uzYAAAAASUVORK5CYII=');
  }

  ul.news-list li.active {
	left: 169px;
  }

  ul.news-list li {
	left: 180px;
	line-height: 36px;
	height: 36px;
  }

  ul.news-list li a {
	font-family: inherit !important;
	letter-spacing: 0.15px;
  }

  ul.news-list li a:hover {
	color: #000000;
  }

  .control-nav {
	top: 7px;
  }

  .control-nav span {
	line-height: 23px;
	border-radius: 0;
  }

  min-height: 36px;
  margin: 0 0 20px !important;
}

/**
 * => Modern Grid 10
 **/

.listing-modern-grid-10 {
  .mg-row-1 {
	.listing-mg-10-item .content-container, .listing-mg-10-item .title {
	  padding-left: 10px;
	  padding-top: 10px;
	  padding-bottom: 3px;
	  margin-left: -9px;
	  bottom: -33px;
	  letter-spacing: 1px;
	  line-height: 34px;
	  overflow: hidden;
	  display: inline-block;
	}

	.listing-item.listing-mg-type-1 .title.title a.post-url.post-url {
	  background: #0f0f0f;
	  padding: 4px 0;
	  box-shadow: 13px 0 0 #0f0f0f, -0.5em 0 0 #0f0f0f;
	}
  }
  .mg-row-2 {
	.listing-mg-10-item .content-container, .listing-mg-10-item .title {
	  overflow: hidden;
	  font-size: 15px;
	  font-weight: bold;
	  bottom: 23px;
	  margin-left: -14px;
	  padding-left: 13px;
	  padding-top: 3px;
	  padding-bottom: 2px;
	}

	.listing-item.listing-mg-type-1 .title.title a.post-url.post-url {
	  background: #0f0f0f;
	  box-shadow: -1px 0px 0 5px #0f0f0f;
	}
  }
  .term-badges.floated {
	top: 10px;
	left: 10px;
  }
}

/**
 * => Term Badge
 **/
.term-badges.floated .term-badge a:hover {
  text-decoration: underline;
}

/**
 * => Modern Grid 5
 **/
.listing-modern-grid-5 .title a:hover {
  text-decoration: underline;
}

/**
 * => Thumbnail Listing
 **/
.listing-item-thumbnail .title a:hover {
  text-decoration: underline;
}

/**
 * => Grid 1
 **/
.bs-listing-listing-grid-1 {
  .listing-item-grid .item-inner {
	.title:hover {
	  text-decoration: underline;
	}
  }
}

/**
 * => Section Heading
 **/
.section-heading.sh-t4.sh-s1 {
  .h-text {
	padding: 4px 11px;
  }

  &:after {
	height: 4px;
	top: 50%;
	margin-top: -2px !important;
  }
}

.section-heading.sh-t1.sh-s4 {
  .h-text {
	font-size: 22px;
  }
}

/**
 * => Blog Listing
 **/
.listing-item-blog .title a:hover {
  text-decoration: underline;
}

.listing-item-blog-5 {
  margin-bottom: 35px;
}

/**
 * => Social Counter
 **/
.better-social-counter.style-style-6.in-3-col .social-item {
  .item-icon {
	background-color: #1f1f1f;
  }

  border-bottom: none;
}

.better-social-counter.style-style-8.not-colored {
  .item-link:hover .item-icon {
	background-color: #0f0f0f;
  }
}

/**
 * => Pagination
 **/
.bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination {
  padding: 8px 27px;
}

.bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination .loading {
  color: #1f1f1f !important;
  transition: .3s;
}

.bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination:hover .loaded {
  color: #1f1f1f !important;
  transition: .3s;
}

/**
 * => Newsletter
 **/
.widget.widget_bs-subscribe-newsletter {
  .subscribe-message,
  .bs-subscribe-newsletter form {
	max-width: 100%;
  }

  .subscribe-message {
	text-align: left;
	font-size: 15px;
	margin-bottom: 10px;
  }

  .newsletter-email {
	height: 45px;
	line-height: 45px;
	font-size: 14px;
  }

  .newsletter-subscribe {
	text-transform: uppercase !important;
	font-family: inherit !important;
	color: #000000;
	font-weight: bold;
	height: 45px;
	line-height: 45px;
	padding: 0 23px;
  }

  background-color: transparent !important;
  padding: 0 !important;
}

.bs-newsletter-pack.bsnp-t1.bsnp-s9 {
  .bsnp-button,
  input.bsnp-input {
	border-radius: 0 !important;
  }

  box-shadow: none !important;
  border: 1px solid #e8e8e8 !important;
}

/**
 * => About Us
 **/
.bs-about {
  .about-text {
	font-size: 15px;
  }
}

/**
 * => Footer
 **/
.site-footer {
  .footer-widgets {
	padding: 53px 0 38px;
  }

  .footer-menu-container {
	margin-bottom: 34px;
  }

  ul.menu.footer-menu > li {
	margin-right: 39px;
  }

  .copy-footer {
	padding: 22px 0 40px;
  }
}

/**
 * => Single
 **/
.bf-breadcrumb.bc-top-style {
  position: relative;
  top: 7px;
}

.post-share.style-5,
.post-share.style-4 {
  .social-item a,
  .share-handler.post-share-btn {
	border-radius: 0;
  }
}

.entry-terms.post-tags .terms-label,
.entry-terms.source .terms-label,
.entry-terms.via .terms-label,
.entry-terms.post-tags a,
.entry-terms.source a,
.entry-terms.via a,
.post-share .post-share-btn-group .post-share-btn {
  border-radius: 0 !important;
}

/**
 * => Responsive
 *
 * @ 767px
 * @ 600px
 * @ 370px
 *
 **/
@media screen and (max-width: 767px) {
  .listing-item-grid-1 .title {
	line-height: 23px;
  }

  .listing-item-grid-1 .title a {
	font-size: 75%;
  }
}

@media screen and (max-width: 600px) {
  .listing-modern-grid-10 {
	.mg-row-1 .listing-mg-10-item {
	  .content-container,
	  .title {
		bottom: 7px;
		overflow: visible;
	  }
	}
	.mg-row-2 .listing-mg-10-item {
	  .content-container,
	  .title {
		bottom: 0;
	  }

	  .title.title a.post-url.post-url {
		box-shadow: 0 0 0 5px #0f0f0f !important;
	  }
	}
  }

  .better-newsticker .heading {
	width: 35px;
	font-size: 0;
  }

  .better-newsticker ul.news-list li {
	left: 80px;
  }

  .better-newsticker ul.news-list li.active {
	left: 70px;
  }

  .site-footer {
	.footer-menu-container {
	  margin-bottom: 14px;
	}
	.copy-footer {
	  padding-bottom: 10px;
	}
  }

  .listing-mg-3-item .post-meta {
	margin-top: 2px;
  }
}

@media screen and (max-width: 370px) {
  .listing-modern-grid-10 {
	.mg-row-1 .listing-mg-10-item {
	  .content-container {
		bottom: 21px;
	  }
	  .title {
		line-height: 25px;
	  }
	  .title a {
		font-size: 80%;
	  }
	}
  }
}