/*

Publisher |-> Brilliance

*/
body.boxed .bs-vc-content > .vc_row > .bs-vc-wrapper,
body.boxed .content-wrap {
  padding-left: 25px;
  padding-right: 25px; }

body.boxed .bf-breadcrumb > .bf-breadcrumb-container {
  margin-left: 25px !important;
  margin-right: 25px !important; }

body.boxed .mega-menu .content-wrap {
  padding-left: 12.5px;
  padding-right: 12.5px; }

body.boxed .slider-container .content-wrap {
  padding-left: 0;
  padding-right: 0; }

body.boxed .bs-sks .bs-sksitemr {
  padding-left: 25px; }

body.boxed .bs-sks .bs-sksiteml {
  padding-right: 25px; }

@media (max-width: 980px) {
  body.boxed .bs-vc-content > .vc_row > .bs-vc-wrapper,
  body.boxed .content-wrap,
  body.boxed .mega-menu .content-wrap {
    padding-left: 0;
    padding-right: 0; }
  body.boxed .bf-breadcrumb > .bf-breadcrumb-container {
    padding-left: 12.5px !important;
    padding-right: 12.5px !important;
    margin-left: 0 !important;
    margin-right: 0 !important; } }

body.search .content-column .listing,
body.archive .content-column .listing,
.archive-title,
.bs-vc-block,
.bs-vc-content .better-studio-shortcode,
.widget,
.bs-shortcode,
.bs-listing {
  background: #fff;
  padding: 20px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12); }

body.search .content-column .listing .listing,
body.archive .content-column .listing .listing {
  background: transparent;
  padding: 0;
  box-shadow: none;
  border: none; }

.comments-wrap,
.comment-respond,
.post-related,
.single-container > .post-author,
.author-profile,
.single-page-simple-content,
.post-template-13 .single-container > .post,
.post-template-12 .single-container > .post,
.post-template-11 .single-container > .post,
.post-template-10 .single-container > .post,
.post-template-9 .single-container > .post,
.post-template-8 .single-container > .post,
.post-template-7 .single-container > .post,
.post-template-6 .single-container > .post,
.post-template-5 .single-container > .post,
.post-template-4 .single-container > .post,
.post-template-3 .single-container > .post,
.post-template-2 .single-container > .post,
.post-template-1 .single-container > .post {
  background: #fff;
  padding: 20px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12); }

.bs-listing-slider-3 .bs-shortcode,
.bs-listing-slider-2 .bs-shortcode,
.bs-listing-slider-1 .bs-shortcode,
.widget_newsletter-pack .bs-newsletter-pack,
.widget .better-studio-shortcode,
.better-social-counter.style-style-10,
.single-page-simple-content .bs-vc-block,
.single-page-simple-content .wpb_single_image,
.single-page-simple-content .wpb_images_carousel > .wpb_wrapper > .vc_images_carousel,
.single-post-content .bs-vc-block,
.single-post-content .wpb_single_image,
.single-post-content .wpb_images_carousel > .wpb_wrapper > .vc_images_carousel {
  background: transparent;
  padding: 0;
  box-shadow: none;
  border: none; }

.post-template-1 .single-container > .post,
.post-template-10 .single-container > .post {
  border: none;
  padding: 0; }

.bs-listing.bs-listing-modern-grid-listing-10,
.bs-listing.bs-listing-modern-grid-listing-9,
.bs-listing.bs-listing-modern-grid-listing-8,
.bs-listing.bs-listing-modern-grid-listing-7,
.bs-listing.bs-listing-modern-grid-listing-6,
.bs-listing.bs-listing-modern-grid-listing-5,
.bs-listing.bs-listing-modern-grid-listing-4,
.bs-listing.bs-listing-modern-grid-listing-3,
.bs-listing.bs-listing-modern-grid-listing-2,
.bs-listing.bs-listing-modern-grid-listing-1 {
  background: transparent;
  padding: 0;
  box-shadow: none;
  border: none; }

.bs-popular-categories .bs-popular-terms-list {
  padding: 0 !important; }

.widget > .bs-shortcode,
.widget > .bs-listing,
.vc_row.vc_row-has-fill .bs-heading-shortcode,
.widget_better-ads,
.widget_newsletter-pack {
  background: transparent;
  padding: 0;
  box-shadow: none;
  border: none; }

.footer-widgets .bs-vc-block,
.footer-widgets .widget,
.footer-widgets .bs-shortcode,
.footer-widgets .bs-listing {
  background: transparent;
  padding: 0;
  box-shadow: none;
  border: none; }

.listing-item .term-badges.floated {
  top: auto;
  bottom: 0; }

.listing-item .term-badges.floated a {
  margin-bottom: 0;
  margin-top: 3px; }

.listing-item-text-1 .term-badges.floated,
.listing-item-classic-3 .term-badges.floated a {
  margin-top: 0;
  margin-bottom: 3px; }

.listing-mg-item .term-badges.floated {
  top: 0;
  bottom: auto; }

.listing-mg-item .term-badges.floated a {
  margin-top: 0;
  margin-bottom: 3px; }

.listing-item-text-1 .term-badges.floated {
  margin-bottom: 13px; }

.listing-mg-4-item .term-badges.floated,
.listing-item-classic-3 .term-badges.floated,
.listing-item .post-edit-link {
  top: 0;
  bottom: auto; }

.rtl .listing-item .post-edit-link {
  left: auto !important; }

.listing-item-classic-3 .post-edit-link {
  display: none !important; }

.listing-item .post-edit-link {
  bottom: auto;
  top: 0; }

.rtl .listing-item .term-badges.floated {
  right: 0; }

.topbar {
  height: 47px !important; }
  .topbar .topbar-inner {
    padding: 0 !important; }
  .topbar.topbar-style-1 .section-menu {
    height: 47px !important;
    position: relative; }
  .topbar .better-social-counter .social-list {
    line-height: 44px !important;
    height: 47px !important; }
  .topbar .topbar-sign-in.topbar-sign-in.topbar-sign-in {
    height: 47px;
    line-height: 47px !important; }
  .topbar ul.menu.top-menu li.menu-item-has-children > a:after,
  .topbar .top-menu > li {
    line-height: 47px !important; }
  .topbar .topbar-date {
    height: 47px;
    line-height: 43px !important;
    top: 0; }

.site-header.site-header.header-style-2 .main-menu.menu > li > a:before,
.site-header.site-header.header-style-2 .main-menu.menu > li:hover > a:before,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-item > a:before,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-parent > a:before {
  display: none; }

.site-header.site-header.header-style-2 .main-menu.menu > li:hover > a,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-parent > a,
.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-item > a {
  background-color: rgba(0, 0, 0, 0.35) !important; }

.site-header.site-header.header-style-2 .main-menu > li > a {
  padding: 0 16px;
  z-index: 0; }

.site-header.site-header.header-style-2 .main-menu.menu > li:hover > a,
body .site-header.site-header.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-parent > a,
body .site-header.site-header.site-header.site-header.header-style-2 .main-menu.menu > li.current-menu-parent:hover > a,
body .site-header.site-header .main-menu.menu > li.current-menu-parent > a {
  color: #fff !important; }

.site-header.header-style-2 .main-menu-wrapper .main-menu-inner {
  height: 58px !important; }

.site-header.header-style-2.header-style-2 .main-menu > li > a {
  line-height: 58px; }

.site-header.header-style-2 .search-container .search-box .search-form .search-field {
  height: 58px; }

.site-header.header-style-2 .main-menu.menu {
  height: 81px; }

.site-header.header-style-2 .off-canvas-menu-icon-container {
  line-height: 58px; }

.site-header.header-style-2.site-header .shop-cart-container .cart-handler
.site-header.header-style-2 .search-container .search-handler {
  line-height: 38px; }

.site-header.header-style-2.header-style-2 .main-menu > li > a {
  line-height: 58px; }

.site-header.boxed .main-menu-wrapper .main-menu-container,
.site-header.full-width .main-menu-wrapper {
  border-width: 0 !important; }

.site-header.header-style-2 .off-canvas-menu-icon-container {
  line-height: 55px; }

/**
 * =>General style
 **/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

body.boxed .main-wrap {
  box-shadow: none; }

body, body.boxed {
  background-color: #eee; }

@media (max-width: 767px) {
  .main-wrap {
    background-color: #eee; } }

.layout-1-col, .layout-2-col, .layout-3-col {
  margin-top: 0 !important;
  padding-top: 25px !important; }

/**
 * =>Blocks & Widgets
 **/
.wpb_wrapper .better-newsticker {
  margin-left: 0;
  margin-right: 0; }

.bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination {
  width: 100%;
  height: 54px;
  line-height: 54px !important;
  font-weight: bold;
  font-size: 15px !important;
  box-shadow: 0 2px 5px -1px #eee;
  border-color: #e2e2e2;
  color: #000000 !important;
  text-transform: capitalize !important; }

.bs-pagination.bs-ajax-pagination.more_btn.bs-pagination-loading .btn-bs-pagination,
.bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination:hover {
  color: #fff !important;
  border-color: transparent !important; }

.bs-control-nav-style-4 .btn-bs-pagination {
  border: 1px solid rgba(178, 178, 178, 0.33);
  font-size: 16px !important;
  color: rgba(235, 235, 235, 0.83) !important; }

/**
 * =>Header
 **/
.top-menu-container ul li ul li.menu-item:hover a {
  color: #FFFFFF !important; }

.site-header.full-width.header-style-2 .main-menu-wrapper {
  border-top: none;
  border-bottom-width: 2px; }

.site-header .search-container .search-handler {
  line-height: 24px; }

/**
 * =>Topbar
 **/
.topbar .menu-item-date:after {
  content: '';
  width: 1px;
  top: 50%;
  margin-top: -12px;
  height: 18px;
  display: inline-block;
  background: #dadada;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  right: -2px; }

.topbar .topbar-date.topbar-date {
  padding: 0;
  vertical-align: middle;
  line-height: 24px !important;
  height: 24px;
  top: -3px;
  display: inline-block; }

.topbar .menu-item-date {
  padding-right: 15px; }

.topbar .topbar-date.topbar-date:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f017";
  margin-right: 5px; }

/**
 * =>Footer
 **/
.site-footer .copy-footer {
  padding-bottom: 30px; }

.site-footer .copy-1,
.site-footer .copy-2 {
  opacity: 0.6; }

/**
 * =>Newsticker
 **/
.better-newsticker .heading.heading.heading {
  background: #0b8048 !important;
  font-size: 13px;
  border-radius: 0;
  font-weight: 500; }

.better-newsticker ul.news-list li a {
  font-weight: 500 !important; }

.better-newsticker .heading.heading.heading:after {
  border-top: 25px solid transparent;
  border-left: 13px solid transparent;
  border-bottom: 0 solid transparent;
  right: -13px;
  margin-top: -13px;
  border-left-color: #0b8048 !important; }

.better-newsticker .control-nav span {
  border: 1px solid rgba(0, 0, 0, 0.17);
  color: rgba(0, 0, 0, 0.4); }

.better-newsticker ul.news-list li.active {
  left: 120px; }

/**
 * =>Section Heading
 **/
.section-heading.sh-t5.sh-s1 {
  padding: 0 0 5px;
  margin-top: -8px; }

.section-heading.sh-t5.sh-s1:before {
  height: 1px; }

.section-heading.sh-t5.sh-s1 > .main-link > .h-text:before,
.section-heading.sh-t5.sh-s1 > a:last-child:first-child > .h-text:before,
.section-heading.sh-t5.sh-s1 > .h-text:last-child:first-child:before {
  height: 1px;
  bottom: -5px; }

.footer-widgets .section-heading.sh-t5.sh-s1 > .main-link > .h-text,
.footer-widgets .section-heading.sh-t5.sh-s1 a.active,
.footer-widgets .section-heading.sh-t5.sh-s1 .main-link:first-child:last-child .h-text,
.footer-widgets .section-heading.sh-t5.sh-s1 > .h-text {
  color: #fff; }

.section-heading.sh-t1:after {
  height: 1px;
  margin-top: -0.5px; }

/**
 * =>Newsletter
 **/
.bs-newsletter-pack.bsnp-t1.bsnp-s2 {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.12); }

/**
 * =>Social Counter
 **/
.better-social-counter.style-style-6 .social-item {
  border-bottom: none; }

/**
 * =>Breadcrumb
 **/
.bf-breadcrumb.bc-top-style {
  padding: 12px 0 0; }

/**
 * =>Breadcrumb
 **/
.post-share.style-8 .social-item .bf-icon {
  background: rgba(255, 255, 255, 0.19); }

/**
 * =>RTL
 **/
.rtl .topbar .menu-item-date {
  line-height: 43px !important; }

.rtl .topbar .menu-item-date:after {
  margin-top: -15px; }

.rtl .topbar .topbar-date.topbar-date:before {
  margin-left: 5px; }

.rtl .top-menu.menu li {
  padding-right: 0;
  padding-left: 15px; }

.rtl .topbar .menu-item-date:after {
  right: auto;
  left: -2px; }

.rtl .listing-mg-10-item .content-container .post-meta {
  margin-top: 10px; }
